@import "_mixins.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.quiz {
  // background-color: steelblue;
  background: url("../img//back.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // object-fit: cover;

}

#landing {
  width: 30vw;
  height: 60vh;
  // transform: translate(110%, 30%);
  text-align: center;
  background-color: rgb(44, 42, 42);
  // background-color: $primary;
  // background-color: ;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  // display: none;

}

.title {
  // display: flex;
  // flex-direction: column;
  font-size: 4rem;
  display: block;
  color: white;
  transform: translateY(30%);
}

#btn {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  border: solid 2px skyblue;
  border-radius: 2.5rem;
  background: none;
  width: 15rem;
  padding: 1.5rem 2rem;
  // transform: translateY(300%);
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  margin: 1rem;
  z-index: 4;
}

#btn:hover {
  background: skyblue;
}

#quiz-game {
  width: 50%;
  height: 66%;
  // transform: translate(50%, 20%);
  text-align: center;
  background-color: rgb(44, 42, 42);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
  border-radius: 0.5rem;
}

.question-box {
  display: flex;
  flex-direction: row;
  // transform: translateY(100%);
}

#question-no {
  font-size: 4rem;
  color: white;
}

#question {
  font-size: 2rem;
  color: white;
}

// #choices {
  // justify-content: center;
  // transform: translateY(30%);
// }
.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  justify-content: space-around;
}
.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  justify-content: space-around;
}
.choice {
  width: 14rem;
  height: 5rem;
  font-size: 1.35rem;
  border: solid 2px brown;
  padding: 1rem;
  margin: 2rem;
  color: white;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.2s;
  // transform: translateY(10%);
  // justify-content: center;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

#next-btn {
  // position: fixed;
  // bottom: 0;
  font-size: 2.5rem;
  color: black;
  background-color: skyblue;
  border: solid 2px blue;
  border-radius: 1rem;
  width: 7rem;
  padding: 1.5rem 2.25rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  // right: 0;
  // bottom: 0;
  // transform: translate(-40%, -100%);
  // transform: translate(100%, 300%);
}

.choice:hover {
  box-shadow: 5px 4px 2px rgb(159, 159, 1);
  transform: scale(1.1);
}

#next-btn:hover {
  color: white;
}

#end {
  width: 30vw;
  height: 60vh;
  // transform: translate(110%, 30%);
  text-align: center;
  background-color: rgb(44, 42, 42);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  border-radius: 0.5rem;
}

.thanks {
  color: white;
  font-size: 4rem;
}

#score-board {
  color: white;
  font-size: 2.5rem;
  margin: 1rem;
}

.img {
  height: 15rem;
  margin: 1rem;
}

#retake-btn {
  outline: none;
  background: none;
  border: solid 2px yellowgreen;
  border-radius: 2.5rem;
  font-size: 2rem;
  color: white;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}
#retake-btn:hover {
  background-color: yellowgreen;
}

#retake-btn:active {
  transform: scale(1.05);
}

@media only screen and (min-width: 481px) {
  #landing{
    width: 50vw;
  }

  .quiz-game{
    width: 65%;
  }
  
  .row-1{
    width: 50vw;
  }

  .row-2{
    width: 50vw;
  }
  .choice{
    width: 16rem;
  }

  #end{
    width: 50vw;
  }
}